<div class="row">
	
	<div class="col-md-6 col-md-offset-3 text-center">
		
		<h1>You just created a New User :)</h1>
		<br>

		<td><%= link_to "Back to Users", user_index_path, class: 'btn btn-primary btn-xl' %></td>

	</div>

</div>	
